
@{
    ViewBag.Title = "Ooops!";
}

<h2 style="text-align: center"> Что-то пошло не так. Попробуйте перейти на другую страницу</h2>

<div style="text-align:center; width: 100%;" >
    <br />
    <div style="display: inline-block;">
        <img src="~/Content/Pictures/surprisedCat.jpg" />
    </div>
</div>

