<script src="~/Scripts/ImageGallery.js"></script>
<link href="~/Content/ImageGalleryStyles.css" rel="stylesheet" type="text/css" />


<style>
    a img {
        border-style: none !important;
        border: 0;
    }
</style>

<script>
    $(document).ready(function () {

        $(document).ready(function () {
            $('.popup-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                tLoading: 'Загрузка изображения #%curr%...',
                closeOnContentClick: true,
                closeBtnInside: false,
                fixedContentPos: true,
                mainClass: 'mfp-img-mobile mfp-with-zoom',
                gallery: {
                    enabled: true,
                    navigateByImgClick: true,
                    preload: [0, 1]
                },
                image: {
                    tError: '<a href="%url%">Изображение #%curr%</a> не загружено',
                    titleSrc: function (item) {
                        return item.el.attr('title') + '<small>Comment template</small>';
                    }
                },
                zoom: {
                    enabled: true,
                    duration: 300
                }
            });
        });
    });
</script>

@{
    ViewBag.Title = "Галерея";
}

<h2>Фото института</h2>

<div class="popup-gallery">
    <a href="http://placehold.it/600x450" title="PictureTemplate1"><img src="http://placehold.it/75x75" width="75" height="75"></a>
    <a href="http://placehold.it/600x450" title="PictureTemplate2"><img src="http://placehold.it/75x75" width="75" height="75"></a>
    <a href="http://placehold.it/600x450" title="PictureTemplate3"><img src="http://placehold.it/75x75" width="75" height="75"></a>
    <a href="http://placehold.it/600x450" title="PictureTemplate4"><img src="http://placehold.it/75x75" width="75" height="75"></a>
    <a href="http://placehold.it/600x450" title="PictureTemplate5"><img src="http://placehold.it/75x75" width="75" height="75"></a>
    <a href="http://placehold.it/600x450" title="PictureTemplate6"><img src="http://placehold.it/75x75" width="75" height="75"></a>
    <a href="http://placehold.it/600x450" title="PictureTemplate7"><img src="http://placehold.it/75x75" width="75" height="75"></a>
</div>
