
@{
    ViewBag.Title = "Главная";
}

@section Header {
    <div style="text-align: center;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="z-index: 1; display: inline-block; width: 100%;">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <span class="helper"></span>
                    <img src="http://placehold.it/2650x450" alt="Pic1">
                    <div class="carousel-caption">
                        <h3>PicTemplate1</h3>
                        <p>DescriptionPlaceholder1</p>
                    </div>
                </div>
                <div class="item">
                    <span class="helper"></span>
                    <img src="http://placehold.it/2650x450" alt="pic2">
                    <div class="carousel-caption">
                        <h3>PicTemplate2</h3>
                        <p>DescriptionPlaceholder2</p>
                    </div>
                </div>
                <div class="item">
                    <span class="helper"></span>
                    <img src="http://placehold.it/750x300"  alt="pic3">
                    <div class="carousel-caption">
                        <h3>PicTemplate3</h3>
                        <p>DescriptionPlaceholder3</p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    }

    @section Main
    {
    <div class="well well-lg">
        <h2>Пример текста</h2>

        <b>Название универа</b><br /><br />
        <p style="text-align:justify">
            Дорогие гости сайта
            Имя сайта!
            Мы рады приветствовать Вас!
            <br />
        </p>
    </div>
    }