@{
    ViewBag.Title = "Главная";
}

    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="z-index: 1">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active" align="center">
                <img src="http://placehold.it/550x250" alt="Chania">
                <div class="carousel-caption">
                    <h3>PicTemplate1</h3>
                    <p>DescriptionPlaceholder1</p>
                </div>
            </div>
            <div class="item" align="center">
                <img src="http://placehold.it/550x250" alt="Chania">
                <div class="carousel-caption">
                    <h3>PicTemplate2</h3>
                    <p>DescriptionPlaceholder2</p>
                </div>
            </div>
            <div class="item" align="center">
                <img src="http://placehold.it/550x250" alt="Chania">
                <div class="carousel-caption">
                    <h3>PicTemplate3</h3>
                    <p>DescriptionPlaceholder3</p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="well well-lg">
        <h2>Ейский Морской Рыбопромышленный Техникум</h2>

        <b>ФГБОУ ВПО «Астраханский государственный технический университет»</b><br /><br />
        <p style="text-align:justify">
            Дорогие гости сайта
            Ейского морского рыбопромышленного техникума!
            Мы рады приветствовать Вас!
            На страницах сайта ЕМРТ вы найдёте полную информацию о приёме в наше учебное учреждение, узнаете о славной истории техникума и достижениях, познакомитесь с педагогическим составом и нормативными документами, обеспечивающими образовательный процесс,полистаете последние новости из жизни техникума. С 1 января 2013 года наш техникум в процессе реорганизации присоединился к ФГБОУ ВПО «Астраханский государственный технический университет» и стал его филиалом. Таким образом, перед студентами открылись новые горизонты больших возможностей, перспективы профессионального роста.
            Мы надеемся, что наш сайт поможет вам определиться в жизни и будет способствовать вашему обучению в стенах ЕМРТ!.<br />
        </p>
    </div>
