@model Edu.Models.Enrollee

<div class="modal-dialog" style=" width: 15%; min-width: 200px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" id="SubFrmClose" data-target="#signUpModal" data-dissmiss="modal" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
            <h4 class="modal-title">Персональные данные слушателя</h4>
        </div>
        <div class="modal-body" style="text-align:justify">
            <h3>Спасибо за заявку, @Model.Name!</h3>
            <p>Представитель института свяжется с Вами в ближайшее время</p>
        </div>
        <div class="modal-footer">

        </div>

    </div>

</div>